<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubook</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link href= "/public/css/style.css" rel="stylesheet" type="text/css" />

</head>
<body>
    
  <%- include('userheader'); -%>

  <section class="deal">

    <div class="content">
        <button class="btn"><%= buku.type %></button>
        <h1><%= buku.title %></h1>       
        <h3>RM <%= buku.price %></h3>
        <h3>Category: <%= buku.category %></h3>
        <h3>Subject: <%= buku.subject%></h3>
        <h3>University: <%= buku.uni %></h3>
        <p>Description: <%= buku.description %></p>
        <a href='https://wa.me/<%=info.contact%>' class="btn">Contact Seller (<%=info.name%>)</a>
    </div>

    <div class="image">
        <img src="/uploads/<%=buku.image%>" alt="">
    </div>

</section>
